<div class="hero-unit">
	<h1>Welcome to Ark of Man!</h1>
	<p>
		You've found the home page for
		<%= link_to "Ark of Man", "http://arkofman" %>; it's my journal of thoughts and theories about life, love, and much, much more.
	</p>
	<p><%= link_to "Sign Up Now!", "#", class: "btn btn-primary brn-large" %></p>
</div>